.navbar-brand {
  img {
    max-width: rem-calc(200);
  }
}

// Alert Banner
.alert-banner {
  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }
}

#navbar-top {
  background: $gray-lightest;
  padding: .5rem 1rem;
  .nav-link {
    color: $primary-shade;
    font-size: rem-calc(14);
    text-decoration: none;
    &:hover,
    &:focus {
      color: $secondary-shade;
      text-decoration: underline;
    }
  }
}
